<nav>
  <a routerLink="/hello" routerLinkActive="active-link">Hello World</a>
  <a routerLink="/lazy" routerLinkActive="active-link">Lazy Observables</a>
  <a routerLink="/memory" routerLinkActive="active-link">Memory Leak</a>
  <a routerLink="/nested" routerLinkActive="active-link">Nested Subscriptions</a>
  <a routerLink="/flat" routerLinkActive="active-link">Flat Subscriptions</a>
  <a routerLink="/variable" routerLinkActive="active-link">Variable Assignment</a>
  <a routerLink="/asyncPipe" routerLinkActive="active-link">AsyncPipe</a>
  <a routerLink="/combineLatestVsComputed" routerLinkActive="active-link">combineLatestVsComputed</a>
</nav>
<router-outlet></router-outlet>
